@import "global.css";

.design-and-nav {
  height: 687px;
  background: #eeeff1;
}

.design-and-nav-header {
  padding-top: 57px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 127px;
}

.design-and-nav-header__logo {
  background: url(/img/WD.png) no-repeat;
  height: 60px;
  width: 96px;
  margin-left: 66px;
}

.design-and-nav-header__navigation {
  display: flex;
  width: 611px;
}

.design-and-nav-header__link-item {
  margin-left: 42px;
  text-decoration: none;
  color: black;
  line-height: 26px;
  letter-spacing: 0.1em;
}

.design-and-nav-header__link-item--active {
  color: #34547a;
  margin: 0;
}

.design-and-nav-main {
  display: flex;
  justify-content: space-evenly;
}

.design-and-nav-main__computer {
  max-width: 357px;
  max-height: 234px;
  margin-top: 21px;
}

.design-and-nav-main__info {
  max-width: 513px;
  height: 297px;
  margin-top: -10px;
}

.design-and-nav-main__title {
  font-size: 48px;
  line-height: 78.75px;
  margin: 0;
  margin-bottom: 33px;
  text-align: left;
}

.design-and-nav-main__title-text {
  text-indent: 0px;
  text-align: left;
  margin-bottom: 51px;
  margin-right: 0;
}

.about-me {
  height: 366px;
}

.about-me__title {
  padding-top: 119px;
}

.how__many__projects {
  font-size: 20px;
}

.projects {
  background: #34547a;
  padding: 100px 0;

}

.projects__container {
  display: flex;
  justify-content: space-around;
}

.img {
  display: block;
}
