@import "global.css";

.design-and-nav {
  background: #eeeff1;
}

.design-and-nav-header {
  padding-top: 57px;
  display: flex;
  justify-content: space-between;
}

.design-and-nav-header__logo {
  background: url(/img/WD.svg) no-repeat;
  height: 60px;
  width: 96px;
  margin-left: 66px;
}

.design-and-nav-header__navigation {
  display: flex;
  width: 611px;
}

.design-and-nav-header__link-item {
  margin-left: 42px;
  text-decoration: none;
  color: black;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.design-and-nav-header__link-item--active {
  color: #34547a;
  margin: 0;
}

.design-and-nav-main {
  display: flex;
  justify-content: center;
  padding-top: 127px;
  padding-bottom: 146px;
}

.design-and-nav-main__computer {
  max-width: 357px;
  width: 100%;
  max-height: 234px;
  margin-top: 21px;
}

.design-and-nav-main__info {
  max-width: 513px;
  margin-top: -10px;
  margin-left: 130px;
}

.design-and-nav-main__title {
  font-size: 48px;
  line-height: 78.75px;
  margin: 0;
  margin-bottom: 33px;
  text-align: left;
}

.design-and-nav-main__title-text {
  text-indent: 0px;
  text-align: left;
  margin-bottom: 51px;
  margin-right: 0;
}

.about-me {
  padding-top: 119px;
  padding-bottom: 100px;
}

.how__many__projects {
  font-size: 20px;
}

.projects {
  background: #34547a;
  padding: 100px 0;
}

.projects__container {
  display: flex;
  justify-content: space-around;
}

.projects__full {
  display: flex;
}

.projects__block {
  color: white;
  margin-left: 20px;
}

.projects__numbers {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 10px;
}

.my-skills {
  padding-bottom: 101px;
}

.my-skills__container {
  display: flex;
  justify-content: space-between;
  padding-top: 102px;
  gap: 20px;
}

.my-skills__title {
  margin-top: 102px;
  text-align: start;
}

.my-skills__adobe-photoshop {
  margin-bottom: 20px;
}

.my-skills__line {
  height: 4px;
  background: #c4c4c4;
  margin-bottom: 30px;
}

.my-skills__line-blue {
  height: 4px;
  width: 78%;
  background: #34547a;
}

.my-skills__portrait {
  max-width: 555px;
  width: 100%;
  max-height: 445px;
  height: 100%;
}

.how-i-work {
  background: #eeeff1;
  padding: 100px 0;
}

.how-i-work__coding-video {
  background: url(/img/coding.png) no-repeat;
  max-width: 1110px;
  width: 100%;
  background-size: contain;
  background-position: center;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 57px auto 0 auto;
}

.examples {
  margin-top: 28px;
  margin-bottom: 28px;
  display: grid;
  gap: 0;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
}

.examples__eye {
  position: relative;
}

.examples__eye:hover::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/img/eye.svg);
  z-index: 3;
}

.examples__eye:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(52, 84, 122, 0.8),
    rgba(52, 84, 122, 0.8)
  );
  z-index: 2;
}

.want-website {
  background: #eeeff1;
  padding: 100px 0;
}

.want-website__form {
  margin-top: 65px;
  margin-bottom: 20px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.want-website__input-my-name {
  width: 255px;
  height: 50px;
  border: 0;
  padding: 20px;
  font-size: 14px;
  line-height: 23px;
  color: #5f5d5d;
}

.want-website__input-my-email {
  width: 255px;
  height: 50px;
  border: 0;
  padding: 20px;
  font-size: 14px;
  line-height: 23px;
  color: #5f5d5d;
}

.want-website__textarea-sms {
  margin: 0 auto 50px auto;
  border: 0;
  padding: 20px;
  resize: none;
  font-size: 14px;
  line-height: 23px;
  color: #5f5d5d;
  width: 540px;
  height: 175px;
}

.want-website__form-post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  background: #34547a;
  padding: 50px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__name {
  color: #ffffff;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 20px;
}

.footer__right {
  color: #ffffff;
  font-size: 13px;
  line-height: 21px;
}

.footer__vk {
  display: flex;
  gap: 22px;
}

.my-skills__enumeration {
  max-width: 450px;
  width: 100%;
}

@media (min-width: 1071px) and (max-width: 1180px) {
  .content-limeter {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 728px) and (max-width: 1070px) {
  .content-limeter {
    padding-left: 20px;
    padding-right: 20px;
  }

  .button-blue {
    margin: 0 auto;
  }

  .projects__container {
    max-width: 700px;
  }

  .design-and-nav-main {
    display: flex;
    justify-content: space-evenly;
    padding-top: 120px;
    padding-bottom: 120px;
    flex-wrap: wrap;
    gap: 40px;
  }

  .design-and-nav-main__info {
    margin-left: 0;
  }

  .projects__container {
    flex-wrap: wrap;
    gap: 60px;
    justify-content: space-between;
  }

  .how-i-work__coding-video {
    height: 560px;
  }

  .my-skills__container {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .my-skills__title {
    text-align: center;
  }
}

@media (min-width: 727px) and (max-width: 949px) {
  .design-and-nav-main__info {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  .design-and-nav-main__title {
    text-align: center;
  }

  .how-i-work__coding-video {
    height: 490px;
  }

  .design-and-nav-header__link-item {
    margin-left: 18px;
  }
}

@media (min-width: 0px) and (max-width: 727px) {
  .content-limeter {
    padding-left: 15px;
    padding-right: 15px;
  }

  .title-lorem {
    line-height: 120%;
    text-indent: 0;
    width: 100%;
  }

  .button-blue {
    margin: 0 auto;
  }

  .design-and-nav-header {
    padding-top: 22px;
    margin-bottom: 36px;
  }

  .design-and-nav-header__logo {
    margin-left: 0px;
  }

  .design-and-nav-header__navigation {
    display: none;
  }

  .design-and-nav-main__title {
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    margin-top: 51px;
    margin-bottom: 44px;
  }

  .design-and-nav-main__title-text {
    text-indent: 0px;
    text-align: center;
    margin-bottom: 51px;
  }

  .design-and-nav-main {
    flex-direction: column;
    align-items: center;
  }

  .design-and-nav-main__info {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  .about-me {
    padding-top: 91px;
    padding-bottom: 0px;
  }

  .projects {
    padding: 75px 0;
    margin: 82px 0;
  }

  .projects__container {
    flex-wrap: wrap;
    row-gap: 90px;
    column-gap: 28px;
    max-width: 340px;
  }

  .my-skills__container {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .my-skills__title {
    margin-top: 98px;
    text-align: center;
  }

  .how-i-work {
    padding: 93px 0;
  }

  .how-i-work__coding-video {
    height: 380px;
  }

  .how-i-work__play {
    width: 75px;
  }

  .examples {
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
  }

  .examples__computers {
    width: 100%;
  }

  .examples__eye--third {
    order: 1;
  }

  .examples__eye--four {
    order: 2;
  }

  .examples__eye--fifth {
    order: 3;
  }

  .examples__eye--sixth {
    order: 4;
  }

  .want-website__form {
    flex-wrap: wrap;
  }

  .want-website__input-my-name {
    width: 90%;
  }

  .want-website__input-my-email {
    width: 90%;
  }

  .want-website__textarea-sms {
    width: 90%;
  }

  .footer__container {
    flex-wrap: wrap;
  }

  .footer__container {
    flex-direction: column;
    gap: 30px;
  }

  .footer__name {
    text-align: center;
  }
}

@media (min-width: 341px) and (max-width: 500px) {
  .how-i-work__coding-video {
    height: 250px;
  }
}

@media (min-width: 0px) and (max-width: 340px) {
  .projects__container {
    flex-wrap: wrap;
    gap: 5px;
    padding: 20px 0;
  }
  .content-limeter {
    max-width: 300px;
    padding: 0 10px;
  }

  .how-i-work__coding-video {
    height: 150px;
  }

  .design-and-nav-header__logo {
    margin-left: 0px;
  }

  .design-and-nav-main {
    padding: 20px 0;
  }

  .projects__not-visibl {
    display: none;
  }

  .projects__container {
    gap: 25px;
  }
}
